body {
  background-color: lightgreen;
}
div {
  border-radius: 10px;
  background-color: lightgray;
  padding: 20px;
}
button {
  width: 100%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}
button:hover {
  font-weight: bold;
}
input[type=text], input[type=email]{
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
