<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filton</title>

    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <h1>Filton hotels </h1>
    <h2><a href="seznam-gostov">Seznam gostov </a></h2>

    <div>
      <form action="/" method="post">
        Ime: <br> <input type="text" name="ime"> <br>
        Priimek: <br> <input type="text" name="priimek"> <br>
        Email: <br> <input type="email" name="email"> <br>
        Sporocilo: <br> <input type="text" name="sporocilo" required> <br>
        <button type="submit">Poslji </button>
      </form>
    </div>

  </body>
</html>
